@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.container {
  color: #dddbff;
  background-color: #0c122c;
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}
@media screen and (min-width: 480px) {
  .container {
    width: 1440px;
    height: 800px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    background-image: url(../images/bg-desktop.png);
  }
}

/**
 * High Frequency
 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section.fylo-data-storage-component section.data-storage-usage p.float-message, section.fylo-data-storage-component section.data-storage-usage, section.fylo-data-storage-component nav.header-nav ul li, section.fylo-data-storage-component header.header {
  border-radius: 1rem;
}

section.fylo-data-storage-component {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
@media screen and (min-width: 480px) {
  section.fylo-data-storage-component {
    flex-direction: row;
    column-gap: 3rem;
    align-items: flex-end;
    justify-content: center;
  }
}

section.fylo-data-storage-component header.header {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 350px;
  padding: 4rem;
  border-top-right-radius: 30% 50%;
  background-color: #1d2c67;
}

section.fylo-data-storage-component nav.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1.5rem;
}
section.fylo-data-storage-component nav.header-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #0c122c;
}

section.fylo-data-storage-component section.data-storage-usage {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 350px;
  padding: 4rem 4rem 6rem;
  background-color: #1d2c67;
  position: relative;
}
@media screen and (min-width: 480px) {
  section.fylo-data-storage-component section.data-storage-usage {
    width: 550px;
    padding: 4rem;
  }
}
section.fylo-data-storage-component section.data-storage-usage span.bold {
  font-weight: 700;
}
section.fylo-data-storage-component section.data-storage-usage p.float-message {
  padding: 1rem 2.5rem;
  background-color: white;
  position: absolute;
  bottom: -4rem;
  align-self: center;
}
@media screen and (min-width: 480px) {
  section.fylo-data-storage-component section.data-storage-usage p.float-message {
    bottom: unset;
    top: -5rem;
    right: 4rem;
    border-bottom-right-radius: 0;
  }
  section.fylo-data-storage-component section.data-storage-usage p.float-message::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: inherit;
    position: absolute;
    bottom: -2rem;
    right: 0;
  }
}
section.fylo-data-storage-component section.data-storage-usage p.float-message > span:nth-child(1) {
  font-size: 4rem;
  color: #0c122c;
}
section.fylo-data-storage-component section.data-storage-usage p.float-message > span:nth-child(2) {
  color: #848794;
  text-transform: uppercase;
}

section.progress-bar-wrapper div.progress-bar {
  height: 2rem;
  border-radius: 1rem;
  background-color: rgba(12, 18, 44, 0.7);
  padding: 0.25rem;
}
section.progress-bar-wrapper div.progress-bar span.progress-value {
  display: inline-block;
  height: 100%;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  position: relative;
  animation: slide-in 2s ease-in-out forwards;
}
section.progress-bar-wrapper div.progress-bar span.progress-value::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 0;
  transform: scale(0.85);
}
section.progress-bar-wrapper div.progress-bar-range {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
@keyframes slide-in {
  from {
    width: 0;
  }
  to {
    width: 81.5%;
  }
}

/*# sourceMappingURL=styles.css.map */
